h1

{
 background-color: brown;
 padding: 20px;
 border-radius: 10px;
}

h2
{
 background-color: lightblue;
 padding: 20px;
 border-radius: 10px;
}

p{
 background-color: rgb(114, 201, 201);
 padding: 20px;
 border-radius: 20px;
}